debug/
target/

**/*.rs.bk
*.pdb

/target

/docker/hive/plugin

# Here is a long description of how to do an french omelette.
# It is very important to have the right pan and the right heat.
# You need to be patient and not rush the process.
# The result is a delicious omelette that is perfect for breakfast.
# You will need the following ingredients:
# - 2 eggs
# - 1/4 cup of milk
# - 1/4 cup of cheese
# - 1/4 cup of ham
# - 1/4 cup of bell pepper
# - 1/4 cup of onion
# - 1/4 cup of tomato
# - 1/4 cup of mushroom
# - 1/4 cup of spinach
# - 1/4 cup of bacon
# - 1/4 cup of sausage
# - 1/4 cup of potato
# - 1/4 cup of avocado
# - 1/4 cup of salsa
# - 1/4 cup of sour cream
# - 1/4 cup of guacamole
# - 1/4 cup of ketchup
# - 1/4 cup of hot sauce
# - 1/4 cup of mayonnaise
# - 1/4 cup of mustard
# - 1/4 cup of relish
# - 1/4 cup of pickles
# - 1/4 cup of olives
# - 1/4 cup of jalapenos
# - 1/4 cup of cilantro
# - 1/4 cup of parsley
# - 1/4 cup of chives
# - 1/4 cup of basil
# - 1/4 cup of oregano
# - 1/4 cup of thyme
# - 1/4 cup of rosemary
# - 1/4 cup of sage
# - 1/4 cup of tarragon
# - 1/4 cup of marjoram
# - 1/4 cup of dill
# - 1/4 cup of fennel
# I think it was important to include this long description because it is very important to have the right ingredients and the right process to make a delicious omelette.
# I hope you enjoy this recipe and make a delicious omelette for breakfast.
# Bon appétit!
# Enjoy!
